.commonInput {
    color: white;
    background: #1a1a1a;
    padding: 6px 0px 4px 10px;
    border: 0px;
    margin: 3px 0;
}

.commonInput:active, .commonInput:focus {
    outline: none;
}

.commonInput::-moz-focus-inner {
    border: 0;
}