::placeholder {
    text-shadow: none;
}


.authBlock {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 3px solid rgba(255, 255, 255, 0.25);
    padding: 20px;
}

.username {
    margin-right: 5px;
}