.interface {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    flex: 0 0 auto;

    padding: 5px;
}

.chat {
    overflow: hidden auto;
    flex: 1 0 auto;
    height: 0;  
    
    margin-left: 5px;
}

footer {
    display: flex;
    flex: 0 0 auto;
    padding: 0 6px;
    margin: 15px 0 10px 0;
}