.commonButton {
    border: 0;
    background: #1a1a1a;
    padding: 8px 10px 6px 10px;
    margin: 3px 0;
}
.commonButton:hover {
    background: #262626;
}
.commonButton:active, .commonButton:focus {
    outline: none;
}
.commonButton::-moz-focus-inner {
    border: 0;
}