.windowEffect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(0deg, rgba(127,127,127,0.11), rgba(127,127,127,0.11) 2px, transparent 2px, transparent 4px);
    pointer-events: none;
}